body {
    margin: 0;
    height: 100vh;
}

section {
    height: 100vh;
    background: rgb(174, 0, 255);
    color: white;
    display: grid;
    place-items: center;
}

h1 {
    font-family: 'Montserrat';
}

img {
    display: block;
    width: calc(100% - 8em);
    padding: 4em;
}